* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  outline: none;
  font: inherit;
  max-width: 320px;
  width: 340px;
  text-align: center;
  color: #5b5858;
  background-color: #8efff0;
  border: 1px solid pink;
  border-radius: 5px;
  margin-top: 150px;
  margin-bottom: 16px;
  margin-left: 40%;
  padding: 8px;
  font-size: 20px;
}
#search-box:focus:hover{
  outline-color: rgb(234, 174, 244);
  border-radius: 40px;
  transition: all 500ms ease; 
}



.country-list {
  list-style: none;
  text-align: center;
  width: 340px;
  margin-left: 570px;
}

.country-list li:hover {
  background-color: rgb(234, 174, 244);
  border-radius: 40px;
  transition: all 500ms ease; 
}

.country-list li {
  background-color: rgb(248, 204, 237);
  border: 2px rgb(127, 199, 247) solid;
  margin-top: 10px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.spans {
  font-size: 20px;
}
